@import "../../globalColor";

.img-repo-card-div {
  width: 50%;
  background-color: $background;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  padding: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.img-repo-card-div:hover {
  box-shadow: 0px 0px 16px $darkBoxShadow;
}
